<div>
    <div>
        <div>
            <h3>Añadir Producto</h3>
            <form id="productForm" name="productForm" onsubmit="event.preventDefault(); onSubmitForm();">
                <div class="form-group"> <!-- Full Name -->
                    <label for="category" class="control-label">Modelo</label>
                    <select class="form-control" id="category" aria-label="Default select example" name="titcategoryle">
                        <option selected>Selecciona un Modelo</option>
                        <option value="Sport">Sport</option>
                        <option value="Grand American Touring">Grand American Touring</option>
                        <option value="Cruiser">Cruiser</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="form-group">
                    <label for="description" class="control-label">Descripción</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <div class="form-group"> <!-- City-->
                    <label for="image" class="control-label">Imágen</label>
                    <input type="text" class="form-control" id="image" name="image">
                </div>

                <div class="form-group"> <!-- State Button -->
                    <label for="code" class="control-label">Código</label>
                    <input type="text" class="form-control" id="code" name="code">
                </div>
                <div class="form-group"> <!-- Zip Code-->
                    <label for="stock" class="control-label">Stock</label>
                    <input type="text" class="form-control" id="stock" name="stock">
                </div>
                <div class="form-group"> <!-- Zip Code-->
                    <label for="price" class="control-label">Precio</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                      <div class="form-group"> <!-- Full Name -->
                    <label for="status" class="control-label">Status</label>
                    <select class="form-control" id="status" aria-label="Default select example" name="status">
                        <option selected>Selecciona un Estado</option>
                        <option value="true">Activado</option>
                        <option value="false">Desactivado</option>
                    </select>
                </div>
                <div class="form-group form-btn"> <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Enviar!</button>
                </div>
            </form>
        </div>
    </div>
    </br>
    <div>
        <h2>Listado de Productos</h2>
        <div class="container-fluid padre">
            <div class="row hijo">
                <div class="col-lg-10 col-md-12 col-sm-12 main-container">
                    <div class="row nosotros-contenido">
                        <h1>Categorías</h1>
                        <div class="productos-container" id="containerProducts">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>