
{{!-- <div id="contador"></div> --}}
<div class="body">
    <div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
      <div class=""><img src="https://res.cloudinary.com/dwlf0cuu6/image/upload/v1680559638/logo_celer7.webp" height="200"
          alt="MDB Logo" loading="lazy" /></div>
    <span class="hero-text"></span>
    <span class="msg">No tiene <span>credenciales</span> a esta página.</span>
    <span class="support">
         <a href="#">Seras dirigido al Login en: </a>
      <span id="contador"></span>
     
    </span>
  </div>

</div>
</div>
<script src="/js/401.js"></script>
