 <div>
    <h1>Hello world!</h1>
    <ul>
      <li><a href="/email">Send email</a></li>
      <li><a href="/sms">Send SMSs</a></li>
      <li><a href="/thanks">Send SMS Whit Params</a></li>
    </ul>
  </div>