<div class="back">
  <h1 class="chat-title">ChaT</h1>

  <ul id="list-messages">
    {{#each mensajes}}
      <li>
        <p><strong>{{this.nombre}}</strong>: {{this.mensaje}}</p>
      </li>
    {{/each}}
  </ul>

  <form id="form-message">

    <div class="form-group">
      <label for="stock" class="control-label">Nombre</label>

      <input
        type="text"
        name="fullname"
        class="form-control"
        id="input-fullname"
        placeholder="Ingresa tu nombre"
        required
      />
    </div>
    <div class="form-group">
      <label for="stock" class="control-label">mensaje</label>

      <input
        type="text"
        name="message"
        class="form-control"
        id="input-message"
        placeholder="Ingresa mensaje..."
        required
      />

    </div>

    <div class="form-group form-btn">
      <!-- Submit Button -->
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>

  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</div>